<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="row">
  <label>Hi,</label>
  <br>
  <label><%= @user.email%> invites you to WeeklyReps <%= link_to("registrate", new_user_registration_path, :host => "hidden-island-8670.herokuapp.com")%> for sending weekly reports</label>
</div>
</body>
</html>