<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="row">
  <h3>Report Due Tomorrow</h3>
  <label>Hi <%= @user.nickname%></label>
  <br>
  <label>This is a reminder that your WeeklyReps report is due tomorrow</label>
  <%= link_to("Submit Report", root_path, :host => "hidden-island-8670.herokuapp.com")%>
</div>
</body>
</html>